<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="LeagueId" value="438" />
    <add key="CompetitionUrlTemplate" value="http://api.football-data.org/v1/competitions/{0}" />
    <add key="PlayerUrlTemplate" value="http://api.football-data.org/v1/teams/{0}/players" />
    <add key="LiveMatchReportUrlTemplate" value="https://www.whoscored.com/Matches/{0}/Live" />
  </appSettings>
</configuration>