<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="FootballData" connectionString="Server=tcp:localhost,1433;Integrated Security=SSPI;Database=BLFData16;Timeout=15;Max Pool Size=500" />
  </connectionStrings>
  <appSettings>
    <add key="LeagueId" value="438" />
    <add key="CommandTimeout" value="10" />
    <add key="CompetitionUrlTemplate" value="http://api.football-data.org/v1/competitions/{0}" />
    <add key="LiveMatchReportUrlTemplate" value="https://www.whoscored.com/Matches/{0}/Live" />
  </appSettings>
</configuration>